.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: rgb(204, 204, 206);
        position: relative;
        top: 70px;
        scroll-behavior: smooth; 
        scroll-snap-type: y; //adjusts per one section on screen (y mandatory ...for fast section snap)
        scrollbar-width: none;  //for firefox removes scrollbar
        &::-webkit-scrollbar{ //for all other browsers removes scrollbar
            display: none;
        }


        > *{                        /*for each element inside*/
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }
}